body {
  margin: 0;
  padding: 0;
  background-color: var(---bg-color-200);
}

.flex {
  display: flex;
}

.flex-container {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  user-select: none;
}

.flex-card {
  position: relative;
  width: 60%;
  min-height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(---bg-color-100);
  border-radius: 30px;
}

.main-section {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

}
.center {
  align-items: center;
  justify-content: center;
}

.quizLogo {
  margin-top: 0.7rem;
}


.left-side,
.right-side {
  flex: 50%;
}

.left-side {
  padding: 20px;
  color: var(---clr-accent-dark-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.left-side>p {
  color: #d4d4d4;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--clr-neutral-300);
}